@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap");

$principal-color: rgb(84, 21, 84);

body {
  margin: 0px;
  font-family: "Source Sans Pro", sans-serif;
  header {
    background-color: $principal-color;
    width: 100%;
    height: 100vh;

    nav {
      display: flex;
      flex-direction: column;
      height: 70%;

      .header-first-part {
        display: flex;
        justify-content: space-around;

        .header-first-part-brand {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          // border: 2px solid red;
        }

        .header-first-part-brand h1 {
          margin-left: 10px;
          color: white;
          font-size: 35px;
        }

        .header-first-part-menu {
          display: flex;
          align-items: center;
        }

        .header-first-part-menu i {
          font-size: 23px;
          color: white;
        }
      }

      .header-second-part {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 10px;
        padding-right: 15px;
        padding-left: 15px;
        text-align: center;
        // border: 2px red solid;
      }

      .header-second-part h1 {
        display: flex;
        justify-content: center;
        font-size: 35px;
        color: white;
      }

      .header-second-part p {
        margin-top: -15px;
        text-align: center;
        line-height: 25px;
        color: white;
      }

      .header-buttons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        padding-bottom: 10px;
        // border: 2px red solid;
      }

      .header-buttons input {
        width: 350px;
        height: 60px;
        margin-top: 10px;
        font-weight: 50px;
      }

      .header-buttons input:nth-child(1) {
        font-family: "Source Sans Pro", sans-serif;
        font-size: 15px;
        color: $principal-color;
      }

      .header-buttons input:nth-child(2) {
        background-color: cornflowerblue;
        color: white;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 15px;
      }
    }
  }

  header img {
    height: 35px;
  }

  main {
    height: 200vh;
    width: 100%;
    background-color: #f4ede4;
    border: 2px red solid;
  }

  .video-container {
    height: 30vh;
    // border: 2px blue solid;
  }

  .video-container video {
    height: 210px;
  }

  .main-container-companies {
    // border: 2px solid red;
  }

  .main-container-companies h1 {
    font-size: 18px;
    text-align: center;
  }

  .main-container-companies-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 40vh;
    margin-bottom: 40px;
    // border: 2px solid blue;
  }

  .main-container-companies img {
    height: 70px;
    margin-left: 10px;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
  }

  .main-container-companies img:nth-child(1) {
    padding-top: 20px;
    height: 40px;
  }

  .main-container-companies img:nth-child(2) {
    padding-top: 15px;
    padding-left: 7px;
    height: 55px;
  }

  .main-container-companies img:nth-child(3) {
    height: 80px;
  }
  
  .main-container-companies img:nth-child(4) {
    height: 50px;
  }
  
  .main-container-companies img:nth-child(4) {
    height: 50px;
    padding-top: 40px;
    
  }
  
  .main-container-companies img:nth-child(5) {
    height: 130px;
    padding-left: 15px;
    
  }

  .main-container-companies img:nth-child(6) {
    height: 50px;
    padding-left: 15px;
    
  }

  .main-channel-box {
    border: 2px red solid;
  }
}
